/* Reset */
body {
    line-height: 1.5;
    scroll-behavior:smooth
}
main {
    display:block
}
blockquote,
body,
figure {
    margin:0
}
dl,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
textarea,
ul {
    margin-bottom:0;
    margin-top:0
}
fieldset {
    margin-right:0
}
dd,
fieldset {
    margin-left:0
}
fieldset,
td,
th {
    padding:0
}
legend {
    padding-left:0;
    padding-right:0
}
button,
fieldset,
iframe {
    border:0
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size:100%;
    font-weight:400
}
ol,
ul {
    list-style:none;
    padding-left:0
}
q:after,
q:before {
    content:"";
    content:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
video {
    height:auto;
    max-width:100%
}
button,
input,
select,
textarea {
    font:inherit;
    padding:0;
}
button,
select,
textarea {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
button {
    background: none;
}


/* Color preset */
:root{
    /* Neutral */
    --color-neutral-000: #fff;
    --color-neutral-100: #F6F6F6;
    --color-neutral-200: #ECECEC;
    --color-neutral-300: #848484;
    --color-neutral-400: #757575;
    --color-neutral-500: #696969;
    --color-neutral-600: #595959;
    --color-neutral-700: #4C4C4C;
    --color-neutral-800: #363636;
    --color-neutral-900: #0F0F0F;
    /* Primary */
    --color-primary-red: #D0103A;
    --color-primary-yellow: #FECB00;
    /* Secondary */
    --color-secondary-pink: #FDE2E8;
    --color-secondary-yellow: #FDF8EC;
    --color-secondary-darkgrey: #fff;
    --color-secondary-grey: #fff;

    /* Global */

    --color-credit-warning-background: var(--color-secondary-pink);
    --color-credit-warning-text: var(--color-primary-red);
    /* button */
    --color-button-theme: var(--color-primary-yellow);
    --color-button-primary-background: var(--color-primary-red);
    --color-button-primary-color: var(--color-neutral-000);
    --color-button-secondary-background: var(--color-neutral-000);
    --color-button-secondary-color: var(--color-neutral-900);
    --color-button-secondary-border: var(--color-neutral-300);

    .dark {
        --color-background: var(--color-neutral-900);
        --color-text: var(--color-neutral-000);
        --color-header-background: var(--color-neutral-900);

        /* button */
        --color-button-secondary-border: var(--color-neutral-200);
        /* nav */
        --color-nav-accent: var(--color-primary-red);
        --color-layer-background: var(--color-neutral-700);
        --color-layer-loan-color: var(--color-primary-red);
        --color-layer-simple-color: var(--color-neutral-900);
        --color-layer-simple-icon-background: var(--color-secondary-yellow);

    }
    .light {
        --color-background: var(--color-neutral-000);
        --color-text: var(--color-neutral-900);
        --color-header-background: var(--color-secondary-yellow);
        /* button */
        --color-button-secondary-border: var(--color-neutral-300);
        /* nav */
        --color-nav-accent: var(--color-primary-red);
        --color-layer-background: var(--color-neutral-000);
        --color-layer-loan-color: var(--color-primary-red);
        --color-layer-simple-color: var(--color-neutral-900);
        --color-layer-simple-icon-background: var(--color-secondary-yellow);
    }
}


/* Generic styles */
body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    min-height: 250vh;
    font-family: "Poppins", sans-serif;
    display: block;
    background: var(--color-background);
    color: var(--color-text);
}
p {
    margin: 0.5rem 0;
}
a {
    text-decoration: none;
    color: var(--color-text);
}


/* Components */
.button {
    border: 0;
    padding: .75rem 3rem;
    border-radius: 4px;
    cursor: pointer;
    /* height: 3rem; */
    box-sizing: border-box;
    display: inline-block;
    text-wrap: nowrap;
}
.button--primary {
    background: var(--color-button-primary-background);
    color: var(--color-button-primary-color);
    border: 0;
    border-radius: 2rem;
}
.button--secondary {
    background: var(--color-button-secondary-background);
    color: var(--color-button-secondary-color); 
    border: 1px #000 solid;
    border-radius: 2rem;
}
.button--theme {
    border: 0;
    color: var(--color-neutral-900);
    background: var(--color-button-theme);
    border-radius: .75rem;
    padding: 0.25rem .5rem;
    height: 1.5rem;
    line-height: 1;
}

/* Utilities */
.u-font-semibold {
    font-weight: 600;
}
.u-font-bold {
    font-weight: 700;
}

.u-font-18 { font-size: 1.125rem; }
.u-font-24 { font-size: 1.5rem; }
.u-font-34 { font-size: 2.125rem; }

.u-hidden {
    display: none;
}

/* Header */
.main-header {
    margin-bottom: 5rem;
    display: contents;
}
/* Preheader */
    .preheader {
        padding: 1.5rem 0 0;
        background: var(--color-header-background);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    .preheader:before {
        content:"";
        flex-basis: 33%;
        flex-shrink: 1;
    }
    .preheader__credit-warning-icon {
        vertical-align: middle;
        margin-right: 0.5rem;
    }
    .preheader__credit-warning {
        background: var(--color-credit-warning-background);
        color: var(--color-credit-warning-text);
        text-wrap: nowrap;
        padding: 0.25rem 1rem;
        border-radius: 1rem;
        height: 2rem;
        line-height: 1.5;
        box-sizing: border-box;
    }
    .preheader__secondary-links {
        flex-basis: 33%;
        flex-shrink: 1;
        display: flex;
        gap: 1rem;
        text-wrap: nowrap;
    }
    .preheader__lang-selector {
        display: flex;
        gap: .25rem;
    }
/* Main nav */
.main-nav {
    padding: 0 2rem .5rem;
    background: var(--color-header-background);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.main-nav__logo {
    width: 175px;
    margin-right: 2rem;
}
.main-nav__links {
    display: flex;
    gap: 2rem;
}
.main-nav__link {
    padding: 0 0 .5rem;
    cursor: pointer;
    background: none;
}
.main-nav__link:hover,
.main-nav__link.u_opened-layer  {
    background: url(/public/svg/swoosh.svg) no-repeat 0 100%;
}

.main-nav__link.u_opened-layer .main-nav__link-chevron {
    transition: transform 0.3s ease-in-out;
    transform: rotateX(180deg);
}

.main-nav__secondary-links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.main-nav__link--loan, 
.main-nav__link--loan .main-nav__link-icon,
.main-nav__link--loan .main-nav__link-chevron {
    color: var(--color-nav-accent);
    stroke: var(--color-nav-accent);
}
.main-nav__link-icon {
    vertical-align: middle;
    margin-right: .5rem;
    stroke: var(--color-text);
}
.main-nav__link-chevron {
    stroke: var(--color-text);
    width: 25px;
    height: 25px;
    vertical-align: middle;
    pointer-events: none;
}

/* menu_layer */
.menu-layer {
    box-sizing: border-box;
    padding:2rem;
    position: absolute;
    background: var(--color-layer-background);
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
    box-shadow: 0 20px 20px #0005;
    opacity: 0;
    transition: opacity 0.3s linear;
}
.main-nav__link.u_opened-layer + .menu-layer/*,
/*.main-nav__link:hover + .menu_layer,
.menu_layer:hover*/ {
    opacity: 1;
    display: block;
}

.menu-layer__close {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
}
.menu-layer__close-icon {
    display: block;
    fill: none;
    stroke: var(--color-text)
}

.menu-layer__container {
    margin: 0 auto;
    max-width: 100rem;
    display: flex;
    gap: 6rem;
    align-items: center;
}
.menu-layer__title {
    flex-basis: 30%;
}

.menu-layer__title p {
    margin-top: 1rem;
}
.menu-layer__items {
    flex-basis: 70%;
}
/* Loan layer component */
.menu-layer__loan {
    box-shadow: 0 0 1rem #0001;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.menu_loan-title {
    flex-basis: calc(50% - 2rem - 81px);
}
.menu_loan-title strong {
    font-size: 1.125rem;
}
.menu_loan-title p:last-child {
    margin: 1rem 0 0;
}
.menu_loan-links {
    flex-basis: calc(50% - 2rem - 81px);
}
.menu_loan-link a {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem;
}
.menu_loan-link span {
    flex-grow: 1;
    color: var(--color-layer-loan-color) ;
}
.menu_loan-link-icon {
    flex-shrink: 0;
    stroke: var(--color-layer-loan-color) ;
}
/* Simple layer component */
.menu-layer__simple-items {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.menu-layer__simple {
    flex-basis: calc(50% - 1rem);
    box-sizing: border-box;
    box-shadow: 0 0 1rem #0001;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.menu-layer__simple-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-layer__simple-title {
    display: block;
    margin-bottom: .5rem;
    /* font-size: 1.125rem; */
}
.menu-layer__simple-icon {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 10px;
    background: var(--color-layer-simple-icon-background    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    stroke: var(--color-layer-simple-color) ;
}